.all{
    width: 1100px;
    margin: 10px auto 100px auto; 
}
.span{
    font-weight: 500;
}
.img{
    width: 100%;
    height: 100%;
}
.top{
    width: 1100px;
    margin: auto;
    padding-top: 20px;
}
.body-1{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.img{
    width: 120px;
    height:120px;
    margin: 20px 0 0 20px;
    object-fit: contain;
    float: left;
}
.namef{
    width: 75%;
    float: left;
    margin: 85px 0 0 45px;
}
.name{
    font-size: 14px;
    font-weight: 500;
}
.p1{
    font-size: 14px;
    font-weight: 400;
}
.clear{
    clear: both;
}
.hengxian{
    background-color:#ccc;
    width:100%;
    height: 2px;
    margin: 20px 0 0 0;
    border-radius: 5px;
}
.status{
    margin: 20px 0 0 0;
}
.span0{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 10px;
}
.span1{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 5 px;
}
.span2{
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 60px;
}
.but1{
    height: 30px;
    width: 150px;
    float: right;
    margin: -5px 20px 0 0;
}
.menu{
    margin-top: 10px;
}